{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% for key,day in days %}
            <div class="date {{ day.status == true ? 'open' }}" style="background-image:url('../../upload/{{ day.student.path }}');">
                <a href="/home/open/{{ loop.index0}}">{{ day.day|date('d') }}</a>
            </div>
        {% endfor %}
        <a href="/home/reset">Restart</a>
    </div>
{% endblock %}
